WS_Assignment_1/WebContent/wsdl/TempConvertor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="forenhiteToCalcus">
    <complexType>
     <sequence>
      <element name="fahrenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="forenhiteToCalcusResponse">
    <complexType>
     <sequence>
      <element name="forenhiteToCalcusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="forenhiteToCalcusRequest">

      <wsdl:part element="impl:forenhiteToCalcus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="forenhiteToCalcusResponse">

      <wsdl:part element="impl:forenhiteToCalcusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TempConvertor">

      <wsdl:operation name="forenhiteToCalcus">

         <wsdl:input message="impl:forenhiteToCalcusRequest" name="forenhiteToCalcusRequest">

       </wsdl:input>

         <wsdl:output message="impl:forenhiteToCalcusResponse" name="forenhiteToCalcusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TempConvertorSoapBinding" type="impl:TempConvertor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="forenhiteToCalcus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="forenhiteToCalcusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="forenhiteToCalcusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TempConvertorService">

      <wsdl:port binding="impl:TempConvertorSoapBinding" name="TempConvertor">

         <wsdlsoap:address location="http://localhost:8080/WS_Assignment_1/services/TempConvertor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
